*{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.header{
    background-image: url(images/banner/banner3.png);
    height: 100vh;
    background-size: cover;
    position: relative;
}
.header-details{
    text-align: right;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-40%, -50%);
}
.header-details h1{
    font-size: 60px;
    font-weight: 900;
    color: white;
}
.header-details p{
    color: white;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.btn{
    padding: 10px;
    width: 30%;
    font-size: 18px;
    font-weight: 900;
    color: rgb(9, 107, 235);
    border-radius: 5px;
    border: 0;
}
.intro{
    display: flex;
    padding: 250px;
    padding-top: 90px;
    padding-bottom: 100px;
    position: relative;
    gap: 100px;
}
.intro .img img{
    height: 500px;
}
.intoduction{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-15%, -50%);
    padding: 170px;
}
.intoduction h1{
    font-size: 40px;
    font-weight: 900;
}
.intoduction  p{
    font-size: 16px;
    color: #00070ca3;
    margin-top: 30px;
    margin-bottom: 10px;
}
.intoduction ul{
    color: #00070ca3;
    list-style: none;
    padding-left: 0;
}
span{
    color: rgb(13, 199, 127);
}
.heading{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}
.img-heading{
    display: flex;
    justify-content: space-between;
    padding: 250px;
    padding-top: 30px;
    padding-bottom: 80px;
}
.img-1{
    margin-left: 40px;
}
.img-3{
    margin-left: 22px;
}
.plan-heading{
    font-size: 25px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
}
.plan-text{
    text-align: center;
    color: #8f8787a8;
}
.double-img{
    padding: 200px;
    padding-top: 60px;
    padding-bottom: 0px;
    margin-bottom: -200px;
}
.first-image{
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
   
}
.second-image {
    width: 100%;
    position: relative;
    top: -254px;
  }
.contact-me {
    position: relative;
    top: -446px;
    left: 26px;
}
.contact-me h1{
    font-size: 40px;
    font-weight: 900;
    color: white;
    margin-bottom: 20px;
}
.btn-call{
    padding: 10px;
    width: 30%;
    font-size: 18px;
    font-weight: 900;
    background: white;
    color: rgb(9, 107, 235);
    border-radius: 5px;
    border: 0;
}
.info-foooter{
    display: flex;
    position: relative;
    padding: 250px;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
    background: #000000ed;
}
.left h1{
    font-size: 40px;
    font-weight: 900;
}
.left p{
    font-size: 16px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #e9e4e49c;
}
.right{
    position: absolute;
    top: 25%;
    left: 60%;
}
.right h1{
    font-size: 20px;
    font-weight: 900;
}
.right input{
    margin-top: 30px;
    padding: 15px;
    width: 240px;
    border-radius: 5px;
    border: 1px solid white;
    background: 0;
    color: white;
}
.right input::placeholder{
    color: white;
}
.btn-footer{
    margin-top: 10px;
    padding: 10px;
    width: 45%;
    font-size: 18px;
    font-weight: 900;
    background: rgb(9, 107, 235);
    color: white;
    border-radius: 5px;
    border: 0;
}
.hide{
    display: none;
}
@media screen and (max-width: 576px)  {
    .intro .img img{
        width: 372px;
    }
    .intro{
        flex-direction: column;
        padding: 0;
    }
    .intoduction{
        margin-top: 520px;
        left: 17%;
        padding: 0;
    }
    .plan{
        margin-top: 435px;
        margin-left: -200px;
    }
    .img-heading{
        flex-direction: column;
    }
    .img{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .img-1, .img-3{
        margin-left: 0px;
    }
    .double-img{
        padding: 0;
        margin-left: 20px;
    }
    .first-image{
        width: 95%;
    }
    .second-image {
        width: 95%;
        top: -93px;
    }
    .contact-me{
        top: -181px;
        width: 86%;
    }
    .contact-me h1{
        font-size: 20px;
        margin-bottom: 5px;
    }
    .btn-call {
        padding: 5px;
        width: 20%;
        font-size: 14px;
    }
    .info-foooter{
        padding: 0;
        padding-bottom: 200px;
        margin-top: 100px;
        flex-direction: column;
    }
    .right{
        top: 65%;
        left: 20px;    
    }
    .left{
        margin-left: 20px;
        margin-top: 15px;
    }
    .header-details {
        text-align: center;
        top: 66%;
        left: 52%;
        transform: translate(-44%, -84%);
    }
    .header .btn{
        width: 62%;
    }
    .header-details h1 {
        font-size: 35px;
    }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
    .intro{
        padding: 0;

    }
    .intoduction{
        padding: 60px;
    }
    .img-heading{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 100px;
    }
    .img-1, .img-3{
        margin-left: 0px;
    }
    .second-image{
        top: -102px;
    }
    .contact-me{
        top: -200px;
    }
    .contact-me h1{
        font-size: 20px;
        margin-bottom: 7px;
    }
    .btn-call{
        padding: 6px;
        width: 23%;
    }
    .info-foooter{
    padding: 50px;
    padding-top: 80px;
    padding-bottom: 51px;
    margin-top: 60px;
    }
    .header-details {
        text-align: center;
        top: 52%;
        left: 50%;
        transform: translate(-46%, -49%);
    }
    .header-details p {
        color: #000000;
        font-size: 22px;
    }
    .btn {
        padding: 20px;
        width: 53%;
        font-size: 33px;
    }
}